
<ul id="nav-list">
  <li class="nav-li mb-1">
    <%= link_to "Claims", claims_path, class: 'nav-link', id: "active-selection" %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "My details", edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Evidence", tickets_path, class: 'nav-link' %>
  </li>
</ul>
<div class="user-nav-pad"></div>

<div class="space-bottom-footer-claims">
  <div class="p-3">
    <div class="accordion" id="accordionExample">
      <div  class="mb-0">
        <div  id="headingOne">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="claims-headers">Summary</button>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div >
            <div class="card-product">
              <div class="card-product-infos">
                <p id="summary-results-headers">You have already saved:</p>
                <p id="summary-results">£ <%= @sum.round %> in total</p>
                <p id="summary-results-headers">On average, you have saved:</p>
                <p id="summary-results">£ <%= @average %> per claim</p>
                </div>
                <div class="icon_column">
                  <p><i class="fas fa-chart-pie" id="chart_icon"></i></p>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-0">
        <div id="headingTwo">
            <button class="btn btn-link collapsed"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" id="claims-headers">
              Pending (<%= @claims_pending %>)
            </button>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div>
           <% @claims.each do |claim| %>
             <% if claim.status == "pending" %>
               <div class="card-product">
                 <div class="card-product-infos">
                   <p id="claims-details">Your Trip from: </p>
                   <p><%= @stations.find_by_code(claim.location_from).name %></p>
                   <p id="claims-details">To:</p>
                   <p><%= @stations.find_by_code(claim.location_to).name %></p>
                   <p id="claims-details"> <%= claim.departure_date.to_date.strftime("%B %d")%>, <%= claim.departure_time.insert(2, ":") %>
                   </p>
                   <p id="claims-details">Delayed by <%= claim.delay_duration %> min</p>
                   <% if claim.reason_for_delay == "" || claim.reason_for_delay == nil || @cancels.find_by_code(claim.reason_for_delay) == nil  %>
                     <p id="claims-details">Reason for delay: Unclear</p>
                   <% else %>
                     <p id="claims-details">Reason for delay: <%= @cancels.find_by_code(claim.reason_for_delay).reason %></p>
                   <% end %>

                 </div>
                 <div class="icon_column">
                   <p><i class="fas fa-hourglass-half" id="clock_icon"></i></p>
                 </div>
               </div>
               <hr class="divider">
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="mb-0">
        <div id="headingThree">
            <button class="btn btn-link collapsed"  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="claims-headers">
              Completed (<%= @claims_completed %>)
            </button>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div>
            <% @claims.each do |claim| %>
              <% if claim.status == "completed" %>
                <div class="card-product">
                  <div class="card-product-infos">
                    <p id="claims-details">Your Trip from: </p>
                    <p><%= @stations.find_by_code(claim.location_from).name %></p>
                    <p id="claims-details">To:</p>
                    <p><%= @stations.find_by_code(claim.location_to).name %></p>
                    <p id="claims-details"> <%= claim.departure_date.to_date.strftime("%B %d")%>, <%= claim.departure_time.insert(2, ":") %>
                    </p>
                    <p id="claims-details">Delayed by <%= claim.delay_duration %> min</p>
                     <% if claim.reason_for_delay == "" || claim.reason_for_delay == nil || @cancels.find_by_code(claim.reason_for_delay) == nil  %>
                      <p id="claims-details">Reason for delay unclear></p>
                    <% else %>
                      <p id="claims-details">Reason for delay: <%= @cancels.find_by_code(claim.reason_for_delay).reason %></p>
                    <% end %>
                  </div>
                  <div class="icon_column">
                    <p><i class="fas fa-coins" id="money_icon"></i></p>
                    <p>£ <%= claim.savings %></p>

                  </div>
                </div>
                <hr class="divider">
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
