<%= render 'shared/navbar' %>
<%= render 'shared/user_area_buttons_under_navbar' %>

<h2>Your claims</h2>

<% current_user.claims.each do |claim| %>

<div class="card-product">
  <div class="card-product-infos">
    <% current_user.tickets.each do |ticket| %>
<!--     <%= cl_image_tag ticket.photo, height: 100, width: 200, crop: :fill %> -->
      <p class="claim-content">
        <%= "From #{claim.location_from} to #{claim.location_to}"%></p>
      <p class="claim-content">
        <%= "At #{claim.departure_time} on #{Date.parse(claim.departure_date).strftime("%m %b %Y")}" %></p>
    <% end %>
  </div>
</div>
<% end %>



