<ul id="nav-list">
  <li class="nav-li mb-1">
    <%= link_to "Claims", claims_path, class: 'nav-link', id: "active-selection" %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Your details", edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Evidence", tickets_path, class: 'nav-link' %>
  </li>
</ul>

<div class="space-bottom-footer-claims">
  <div class="p-3">
    <h2 id="claims-headers">Summary</h2>
      <div class="card-product">
        <div class="card-product-infos">
          <p>Your total savings: <%= @sum %> £</p>
          <p>Claims pending: <%= @claims_pending %> </p>
          <p>Refunds received: <%= @claims_completed %> </p>
        </div>
        <div class="icon_column">
          <p><i class="fas fa-chart-pie" id="chart_icon"></i></p>
        </div>
      </div>
    <hr>
    <h2 id="claims-headers">Pending</h2>
      <% @claims.each do |claim| %>
        <% if claim.status == "pending" %>
          <div class="card-product">
            <div class="card-product-infos">
              <p id="claims-details">Your Trip from: </p>
              <p><%= @stations.find_by_code(claim.location_from).name %></p>
              <p id="claims-details">To:</p>
              <p><%= @stations.find_by_code(claim.location_to).name %></p>
              <p id="claims-details"> <%= claim.departure_date.to_date.strftime("%B %d")%>, <%= claim.departure_time.insert(2, ":") %>
              </p>
              <p id="claims-details">Delayed by <%= claim.delay_duration %> min</p>
              <% if claim.reason_for_delay == "" || claim.reason_for_delay == nil || @cancels.find_by_code(claim.reason_for_delay) == nil  %>
                <p id="claims-details">Reason for delay: Unclear</p>
              <% else %>
                <p id="claims-details">Reason for delay: <%= @cancels.find_by_code(claim.reason_for_delay).reason %></p>
              <% end %>

            </div>
            <div class="icon_column">
              <p><i class="fas fa-hourglass-half" id="clock_icon"></i></p>
            </div>
          </div>
        <% end %>
      <% end %>
    <hr>
    <h2 id="claims-headers">Refunds</h2>
      <% @claims.each do |claim| %>
        <% if claim.status == "completed" %>
          <div class="card-product">
            <div class="card-product-infos">
              <p id="claims-details">Your Trip from: </p>
              <p><%= @stations.find_by_code(claim.location_from).name %></p>
              <p id="claims-details">To:</p>
              <p><%= @stations.find_by_code(claim.location_to).name %></p>
              <p id="claims-details"> <%= claim.departure_date.to_date.strftime("%B %d")%>, <%= claim.departure_time.insert(2, ":") %>
              </p>
              <p id="claims-details">Delayed by <%= claim.delay_duration %> min</p>
               <% if claim.reason_for_delay == "" || claim.reason_for_delay == nil || @cancels.find_by_code(claim.reason_for_delay) == nil  %>
                <p id="claims-details">Reason for delay unclear></p>
              <% else %>
                <p id="claims-details">Reason for delay: <%= @cancels.find_by_code(claim.reason_for_delay).reason %></p>
              <% end %>
            </div>
            <div class="icon_column">
              <p><i class="fas fa-coins" id="money_icon"></i></p>
              <p><%= claim.savings %> £ </p>
            </div>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
