<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <h1>Claim Overview</h1>

      <p>From: <%= @claim.location_from %></p>
      <p>To:   <%= @claim.location_to %></p>
      <p>Time: <%= @claim.departure_time %></p>
      <p>Date: <%= @claim.departure_date %></p>

      <% if @claim.delay_duration.to_i.positive? %>
        <p>Delayed for: <%= @claim.delay_duration %> min</p>
      <% end %>


      <% if @claim.reason_for_delay == "" %>
        <p>Info: Your train was on time!</p>
      <% else %>
        <p>Info: Your train was delayed! Reason for Delay: <%= @claim.reason_for_delay %></p>
      <% end %>


      <% if current_user.tickets.first.nil? %>
        <!-- USER HAS NO TICKETS -->
        <%= link_to "Add a ticket", new_ticket_path, class: "btn btn-primary m-2" %>
      <% else %>
      <!-- USER HAS ONE OR MORE TICKETS -->
        <h5>Select/Add a Ticket</h5>
        <select class="dropdown" name="tickets">
          <% current_user.tickets.each do |ticket| %>
              <option value="<%= ticket.ticket_number %>">Ticket No:<%= ticket.ticket_number %>
                exp: <%= ticket.expiry_date %>
              </option>
          <% end %>
        </select><br>
        <%= link_to "Add a ticket", new_ticket_path, class: "btn btn-primary m-2" %>
      <% end %>

      <%= link_to "Add a photo card", new_photo_card_path %>
    </div>
  </div>
</div>


