


<div class="bottom-show-footer">
  <h4 class ="pt-4 pl-2">Claim Overview</h4>
  <div class="row">
    <div class="claim-card w-100 ml-1 mr-1 p-3">
      <span><strong>Journey Details</strong></span><br>
      <span><%= "#{@claim.location_from} → #{@claim.location_to}" %></span>
      <span><%= "#{@claim.departure_time.slice(0, 2)}:#{@claim.departure_time.slice(2, 2)} on #{@claim.departure_date}" %></span>
      <div class="row justify-content-center">
        <% if @train_late_or_cancelled %>
          <div class="text-center claim-alert pt-0 pb-0 mt-3">
            <p class="m-0 p-0">
              <% if @claim.delay_duration == "Train cancelled"%>
                <%= "Your train was cancelled - You may be entitled to a refund." %></p>
              <% else %>
                <%= "Your train was delayed by #{@claim.delay_duration} minutes - You may claim a refund!" %></p>
              <% end %>
          </div>
          <p class="delay-reason text-center mt-2 mb-1">
            <% if @delay_reason == nil  %>
              <%= "Operator Message: Reason for delay unclear" %>
            <% else %>
              <%= "Operator Message: #{@delay_reason.reason}" %>
            <% end %>
          </p>
        <% end  %>
      </div>

      <div class="row">
        <span class="mt-1"><strong>Name</strong></span><br>
      </div>
      <div class="row">
        <span><%= "#{current_user.first_name} #{current_user.last_name}" %></span><br>
      </div>

      <div class="row">
        <span class="mt-2"><strong>Address</strong></span><br>
      </div>
      <div class="row">
        <span><%= "#{current_user.address}" %></span>
      </div>
      <div class="row">
        <span><%= "#{current_user.city}" %></span>
      </div>
      <div class="row">
        <span><%= "#{current_user.postcode}" %></span>
      </div>
<!-- logic for when you have claim
 -->
      <% if @train_late_or_cancelled %>
        <div class="row">
          <span class="mt-2"><strong>Evidence</strong></span><br>
          <% if current_user.tickets.first.nil? %>
          <!-- USER HAS NO TICKETS -->
            <%= link_to "Add a ticket", new_claim_ticket_path(@claim), class: "btn btn-primary m-2" %>
          <% else %>
          <!-- USER HAS ONE OR MORE TICKETS -->
            <div class="row">
              <select class="custom-select custom-select-sm mr-3 mt-2 mb-2 col-7" name="tickets" id="claim-ticket-select">
                <% current_user.tickets.order(created_at: :desc).each do |ticket| %>
                  <option value="<%= ticket.id %>">Ticket No:<%= ticket.ticket_number %>
                      exp: <%= ticket.expiry_date %>
                  </option>
                <% end %>
              </select><br>
              <div>
              <%= link_to "Add ticket", new_claim_ticket_path(@claim), class: "btn btn-warning mr-3 mt-2 mb-2 pl-1 pr-1 pt-1 pb-1" %>
              </div>
            </div>
          <% end %>
        <div>
          <% unless current_user.photo_card == nil  %>
            <%= cl_image_tag(current_user.photo_card.photo, width: 90, height: 60, crop: :fill) %>
          <% else %>
            <%= link_to "Add a photo card", new_claim_photo_card_path(@claim), class: "btn btn-primary" %>
          <% end %>
        </div>
        </div>
        </div>
        <div class="claim-card w-100 mt-3 mb-3 pl-3 pr-3 pb-3 pt-3">
          <div class="row align-items-center">
            <input class="mt-3 ml-3" type="checkbox" id="terms" name="terms" value="accepted" checked >
            <label for="terms" class="tc-text col-10">I accept by submitting this claim I agree to the <%= link_to "Terms and conditions", root_path %> including checking the claim for accuracy and potential fraud.</label>
          </div>
         <%= simple_form_for(@claim) do |f| %>
            <%= f.input :ticket_id, as: :hidden, input_html: { value: current_user.tickets.last&.id } %>

           <%= f.submit "Claim your refund now", disabled: current_user.tickets.empty?, id: "submission", class: "btn btn-warning btn-block", id:"sweet-alert-demo" %>
          <% end %>
        </div>
      <% elsif @claim.delay_duration.to_i.positive? %>
        <p>Your train was delayed by: <%= @claim.delay_duration %> min. Reason for Delay: <%= @claim.reason_for_delay %>.</p>
        <p><strong>You are not entitled to compensation as the delay is less than 15 min.</strong></p>
          <%= link_to "Check another train", root_path %>
      <% else %>
        <p><strong>Info: Your train was on time.</strong></p>
          <%= link_to "Check another train", root_path %>
      <% end %>
    </div>
  </div>
</div>




























<!--         <label for="terms">I accept that by submitting this claim I agree to the <%= link_to "Terms and conditions", root_path %> including checking the submitted details for accuracy and potential fraud. I confirm that I am not a robot.</label> -->

<!--
    </div>
    <div class="claim-card w-100 ml-3 mr-3 p-3 mt-3">
          <div class="row">
            <input type="checkbox" id="terms" name="terms" value="accepted" checked >
            <label for="terms" class="tc-text">You agree to the <!%= link_to "Terms and conditions", root_path %> including checking details for accuracy.</label>
          </div>
          <div class="row">
            <div class="ml-3 mr-3 btn btn-warning btn-block">Submit claim</div>
          </div>
    </div>
  </div>

 -->




