<div class="space-bottom-footer-home">
<%= simple_form_for [@claim, @photo_card] do |f| %>
  <%= f.input :card_number, label: 'Please provide card number', placeholder: "Card number" %>
  <%= image_tag "", width: 300, class: "hidden", id: "photo-preview" %>
  <%= f.input :photo, input_html: { class: 'd-none', id: "photo-input" }, label_html: { class: 'upload-photo'}, label: '📷 Upload a photo card' %>
  <%= f.submit "Add a card" %>
<% end %>
</div>
