<div class="container text-center vh-100">

  <div class="justify-content-center align-self-center">

      <%= form_tag search_path, method: :get do %>
        <select class="select2" name="origin">
          <option value="">From...</option>
          <% @stations.each do |station| %>
          <option value="<%= station.code %>"
            ><%= station.name %></option>
          <% end %>
        </select>

        <select class="select2" name="destination">
          <option value="">To...</option>
          <% @stations.each do |station| %>
          <option value="<%= station.code %>"
            ><%= station.name %></option>
          <% end %>
        </select>

        <%= label_tag(:destination, "Departure") %>
        <%= datetime_local_field(:departure, :time) %>
        <div class="row justify-content-center">
          <div class="col-10">
            <%= submit_tag("Search", class: "btn btn-primary btn-block") %>
          </div>
        </div>
      <% end %>

  </div>
</div>


<!-- replaced code

  <%= label_tag(:origin, "From:") %>
  <%= text_field_tag(:origin) %>

  <%= label_tag(:destination, "To:") %>
  <%= text_field_tag(:destination) %> -->


