<%= render 'shared/navbar' %>
<div class="background-grey space-bottom-footer">
<div class="container-fluid text-center pt-2">
  <h3>Search Results</h3>

  From: <%= params[:origin] %>
  To: <%= params[:destination] %>
  Time: <%= params[:departure][:time] %>

  <% @response_trains["Services"].each do |item| %>
    <form class="form" action="/claims" method="post">
        <button type="submit" class="mt-2" id="search-card" class="search-color">
          <!-- the following hidden field tags pass to params info is only accessible in first API call and which we will need to create a new claim  -->
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag :train_id, item["serviceAttributesMetrics"]["rids"][0] %>
          <%= hidden_field_tag :origin, @response_trains["header"]["from_location"] %>
          <%= hidden_field_tag :destination, @response_trains["header"]["to_location"] %>
          <%= hidden_field_tag :departure_time, item["serviceAttributesMetrics"]["gbtt_ptd"] %>
            <div class="train-card">
              <div class="icon"><i class="fas fa-subway fa-3x"></i></div>
              <div class="time-start">
                <p class="mb-0"><%= @response_trains["header"]["from_location"] %></p>
                <h3>
                  <%= "#{item["serviceAttributesMetrics"]["gbtt_ptd"].slice(0, 2)}:#{item["serviceAttributesMetrics"]["gbtt_ptd"].slice(2, 2)}" %>
                </h3>
              </div>
              <div class="chevron">
                <i class="fas fa-chevron-right fa-2x"></i>
              </div>
              <div class="end-time">
                <p class="mb-0"><%= @response_trains["header"]["to_location"] %></p>
                <h3>
                  <%= "#{item["serviceAttributesMetrics"]["gbtt_pta"].slice(0, 2)}:#{item["serviceAttributesMetrics"]["gbtt_pta"].slice(2, 2)}" %>
                </h3>
              </div>
            </div>
    </form>
  <% end %>
</div>
</div>




