<div id="header-container">
  <h6 class="search-header">Results for</h6>
  <h6 class="search-header"><%= @stations.find_by_code(@response_trains["header"]["from_location"]).name %></h6>
  <h6 class="search-header">To <%= @stations.find_by_code(@response_trains["header"]["to_location"]).name %></h6>
</div>



  <% if @response_trains["Services"] == [] %>
    <div class="no-results-container">
      <form class="form" action="/" method="get">
       <button type="submit" class="col-10 mt-2" id="search-card" class="search-color">
          <div class="row justify-content-between" >
              <h3 id="no-results">No results, please try again</h3>
              <%= link_to "Search", root_path, class: "yellow-user-btn", id: "search-btn"%>
          </div>
       </button>
      </form>
    </div>
  <% else %>
    <% @response_trains["Services"].each do |item| %>
      <form id ="search-results-form" class="form" action="/claims" method="post">
          <button type="submit" class="mt-2" id="search-card" class="search-color">
            <!-- the following hidden field tags pass to params info is only accessible in first API call and which we will need to create a new claim  -->
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= hidden_field_tag :train_id, item["serviceAttributesMetrics"]["rids"][0] %>
            <%= hidden_field_tag :origin, @response_trains["header"]["from_location"] %>
            <%= hidden_field_tag :destination, @response_trains["header"]["to_location"] %>
            <%= hidden_field_tag :departure_time, item["serviceAttributesMetrics"]["gbtt_ptd"] %>

            <div class="search-result-container">
              <div class="search-result-text">
                <p class="search-location"><%= @response_trains["header"]["from_location"] %></p>
                <p class="search-time"><%= "#{item["serviceAttributesMetrics"]["gbtt_ptd"].slice(0, 2)}:#{item["serviceAttributesMetrics"]["gbtt_ptd"].slice(2, 2)}" %></p>
              </div>

              <div class="search-result-text">
                <p><br><i class="fas fa-play"></i></p>
              </div>

              <div class="search-result-text">
                <p class="search-location"><%= @response_trains["header"]["to_location"] %></p>
                <p class="search-time"><%= "#{item["serviceAttributesMetrics"]["gbtt_pta"].slice(0, 2)}:#{item["serviceAttributesMetrics"]["gbtt_pta"].slice(2, 2)}" %></p>
              </div>
            </div>

          </button>
      </form>
      <hr class="divider">
    <% end %>
  <% end %>
</div>
</div>




