<ul id="nav-list">
  <li class="nav-li mb-1">
    <%= link_to "Claims", claims_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Your details", edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-li mb-1">
    <%= link_to "Evidence", tickets_path, class: 'nav-link', id: "active-selection" %>
  </li>
</ul>

<h2>Your tickets</h2>

<% current_user.tickets.each do |ticket| %>

  <div id="search-card">
    <%= cl_image_tag ticket.photo, height: 80, width: 150, crop: :fill %>
    <p><%= "Ticket expiring on #{ticket.expiry_date.strftime("%a, %e %b %Y")}" %></p>
  </div>

<% end %>

